body {
  font-family: "Libre Barcode 128", cursive;
}

#poem {
  font-size: 2rem;
  text-shadow: 3px 3px 3px #ababab;
}

#answer {
  width: 10rem;
  height: 2rem;
  border: 1px dashed black;
}

.found {
  color: red;
}
